.container{
    position: relative;
}

.text-block{
    position: absolute;
    bottom: 2em;
    right: 2em;
    background-color: white;
    opacity: 0.5;
    padding: 1em;
}

h3{
    font-size: 40px;
}